useDynLib(facetschrY4, .registration = TRUE)
import(stats,graphics)
importFrom("utils", "read.csv")
importFrom("grDevices", "colorRampPalette", "rainbow")
importFrom("pctGCdata", "getGCpct")
import('ggplot2')
import('dplyr', except = c(lag, filter))
import(tidyr, except = extract)
import(readr)
import(purrr, except = set_names)
import(tibble)
import(stringr)
import(magrittr)
import(cowplot)

export("readSnpMatrix", "preProcSample", "procSample", "emcncf", "emcncf2", "plotSample","logRlogORspider")
export(plotSample_ggplot)
export(plotSample_chrsize)
export(f_get_split_chr)
